@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdn.jsdelivr.net/npm/svelte-material-ui@4.0.0/bare.min.css');

html,
body
{
	position: relative;
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: var(--background-color);
	color: var(--primary-font-color);
}

*
{
	box-sizing: border-box;
}

a
{
	text-decoration: none;
	color: #08F;
	font-weight: 600;
}
